{% extends 'cecday/basic.html' %}
{% block body %}
{% load static %}

   

    <section class="section about-page gray-bg">
     
      <div class="container">
        
        <div class="row">
          <div class="col-lg-5">
            <h2 class="title-color">
              Let's celebrate the Engineer's day by contributing our skills to world.
            </h2>
            <br>
            <p>
              Our vision is to emerge as the most preferred educational group with global recognition, developing competent and socially sensitive leaders committed to excellence.
            </p>
          </div>
          <div class="col-lg-7">
            <div style="text-align: center;">
              <img  width="100%" height="100%"  src="{% static 'new/11.jpeg' %}" />
              </div>
           
          </div>
        </div>
        
		
		

      </div>
    </section>

    <section class="fetaure-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="about-block-item mb-5 mb-lg-0">
              <img
                src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                alt="Best and Affordable Ayurvedic  treamtments and counsellings "
                class="img-fluid w-100"
              />
              <h4 class="mt-3">Participate in events</h4>
              <p>
                Opportunity to show the Engineer & Problem Solver inside you.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="about-block-item mb-5 mb-lg-0">
              <img
                src="https://images.unsplash.com/photo-1521737451536-00a86f630f3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                alt="Best and Affordable Ayurvedic  treamtments and counsellings "
                class="img-fluid w-100"
              />
              <h4 class="mt-3">Show your creativity </h4>
              <p>
                Amaze the minds by creating something out of box.
              </p>
            </div>
          </div>
         
          <div class="col-lg-3 col-md-6">
            <div class="about-block-item mb-5 mb-lg-0">
              <img
                src="https://images.unsplash.com/photo-1578269174936-2709b6aeb913?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80"
                alt="Best and Affordable Ayurvedic  treamtments and counsellings "
                class="img-fluid w-100"
              />
              <h4 class="mt-3">Celebrate Victory</h4>
              <p>
                Honour your skills with the exciting prizes and certifications.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="about-block-item">
              <img
                src="https://images.unsplash.com/photo-1659301254614-8d6a9d46f26a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                alt="Best and Affordable Ayurvedic  treamtments and counsellings "
                class="img-fluid w-100"
              />
              <h4 class="mt-3">Learn & Grow</h4>
              <p>
                We new things by exploring other's solution toward problems.
              </p>
            </div>
          </div>
        
        </div>
      </div>
    </section>

   


    <section class="section" style="padding-top: 0px">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section-title text-center">
              <h2 class="my-4">Listen us on Youtube</h2>
              <div class="divider mx-auto my-4"></div>
              <p>
                Voice of CGCians
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6 col-12">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/7ow4GVw6RsQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
          </div>
          <div class="col-md-6 col-lg-6 col-12">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/DomgyJBJ-9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

   
    <!-- footer Start -->
{% endblock body %}