{% extends 'cecday/basic.html' %}
{% block body %}
<div class="text-center mt-4">
    
    <h1 class="headings" style="display: inline; color: #a73638;">All Events</h1>
  </div>
<div class="container-fluid" style="background-color: #7395AE;">
    <div class="album py-5 ">
        <div class="container">
   
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://images.unsplash.com/photo-1583508915901-b5f84c1dcde1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="" >
    
                <div class="card-body box">
                  <h3>CECJ-HACKATHON</h3>
                  <p class="card-text">Show your creativity in Hackathon. Showcase your Programming skills at the hackathon . control over Technologies and create something out of the box.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'designathon' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                      <a href="{% url 'designathon_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://images.unsplash.com/photo-1580894894513-541e068a3e2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
    
                <div class="card-body box">
                   <h3>CECJ-CODATHON </h3>
                  <p class="card-text">MCQ and Coding Competition based on different programming languages  consist of 2 Rounds. Prove your skills, practice coding with other coders, have fun by registering to this contest. Let’s venture together and have fun while coding.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'break_strategy' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                      <a href="{% url 'break_strategy_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col ">
              <div class="card shadow-sm">
               <img src="https://images.unsplash.com/photo-1590402494682-cd3fb53b1f70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
    
                <div class="card-body box">
                  <h3>Technical Presentation </h3>
                  <p class="card-text">Technical presentation is an individual competition where each participant is required to make a Power point presentation about a given topic or area, and then present it in front of jury members.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'technical_presentation' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                      <a  href="{% url 'technical_presentation_register' %}"  type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                    </div>
                
                  </div>
                </div>
              </div>
            </div>

            <div class="col ">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1581092580497-e0d23cbdf1dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>AUTO-CAD CHALLENGE </h3>
                    <p class="card-text"> Draw a 3D view of a house or a multiplex Complex/Hospital having a facility for divyangjan or vechile for divyangjan by using your Autocad Skills. </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'autocad' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'autocad_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
            <div class="col ">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1516110833967-0b5716ca1387?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Artificial Intelligence and Data Science Workshop</h3>
                    <p class="card-text">Learn the technology of future, Artificial Intelligence and Data Science with the Workshop which will be provided by EESPL (Changing Ideas into Reality). </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'aiworkshop' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'aiworkshop_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col ">
                <div class="card shadow-sm">
                 <img src="https://images.unsplash.com/photo-1555664424-778a1e5e1b48?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Arduino and Raspberry Pi Challenge
</h3>
                    <p class="card-text">Arduino coding and circuit designing Challenge. Design of sensory systems using the platform Arduino by undergraduate coding and basic knowledge of electric circuits and show your skills.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'electroinsight' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'electroinsight_register' %}"type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col ">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Robo Competition</h3>
                    <p class="card-text">Create your robots and display their advantages and applications. Display all the features and working of your robots using Power point Presentation.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'roborace' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'roborace_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
 

              <div class="col ">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1551836022-8b2858c9c69b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Project Display</h3>
                    <p class="card-text">Dislay your Working/non-working technical and innovative projects and show your creative ideas. Impliment your creative minds and create something new and Showcase your skills. </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'project_display' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'project_display_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col ">
                <div class="card shadow-sm">
                <img src="https://images.unsplash.com/photo-1571913035274-3eeb685eb255?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Rangoli Making</h3>
                    <p class="card-text">Let's have fun with colors and make beautiful rangoli. The competition aimed at honing aesthetic skills, creativity and innovation of the young modernites. Play with colors and create some amazing designs. </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'rangoli' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'rangoli_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
              <div class="col ">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1541359927273-d76820fc43f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Collage making</h3>
                    <p class="card-text">A theme-based event to showcase your hidden talent. Put your  ideas and thoughts on either paper or canvas. The theme is "Contributions  of India Engineers to the India/World". </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'collage_making' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'collage_making_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col ">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1614064548237-096f735f344f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Cyber Security Workshop</h3>
                    <p class="card-text">Learn to secure yourself fron the internet attacks by attending this cyber Security Workshop.  </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'cyberworkshop' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'cyberworkshop_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col ">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1494389945381-0fe114b8ea4b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>CECJ-INNOVATION IDEA</h3>
                    <p class="card-text">Students will have to prepare an idea on the basis of different type of themes and Students should have to prepare a ppt that contains all the details about their project.
                       </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'inovationidea' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'inovationidea_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
    
     
    
         
       
          </div>
        
        </div>
      </div>
</div>

{% endblock body %}