{% extends 'cecday/basic.html' %}
{% block body %}

<div class="container-fluid" >
    <div class="album py-5 ">
        <div class="container">
   
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
           
            <div class="col col-md-4 col-12 my-2">
              <div class="card shadow-sm">
                <img src="https://images.unsplash.com/photo-1580894894513-541e068a3e2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
    
                <div class="card-body box">
                   <h3>CECJ-CODATHON </h3>
                  <p class="card-text">MCQ and Coding Competition based on different programming languages  consist of 2 Rounds....</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'break_strategy' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                      <a href="{% url 'break_strategy_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12 col my-2 ">
              <div class="card shadow-sm">
               <img src="https://images.unsplash.com/photo-1590402494682-cd3fb53b1f70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
    
                <div class="card-body box">
                  <h3>Technical Presentation </h3>
                  <p class="card-text">Technical presentation is an individual competition where each participant is required....</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'technical_presentation' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                      <a  href="{% url 'technical_presentation_register' %}"  type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                    </div>
                
                  </div>
                </div>
              </div>
            </div>


              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1551836022-8b2858c9c69b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Project Display</h3>
                    <p class="card-text">Dislay your Working/non-working technical and innovative projects and show your creative ideas.... </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'project_display' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'project_display_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                <img src="https://images.unsplash.com/photo-1571913035274-3eeb685eb255?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Rangoli Making</h3>
                    <p class="card-text">Let's have fun with colors and make beautiful rangoli. The competition aimed at honing aesthetic.... </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'rangoli' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'rangoli_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1516110833967-0b5716ca1387?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>AI & Ml  Workshop</h3>
                    <p class="card-text"> Workshop which will be provided by EESPL (Changing Ideas into Reality). </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'aiworkshop' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="https://rzp.io/l/XKqyJql" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
          

              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1614064548237-096f735f344f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Cyber Security Workshop</h3>
                    <p class="card-text">Learn to secure yourself fron the internet attacks by attending this cyber Security Workshop.  </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'cyberworkshop' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="https://rzp.io/l/gmcU5S7GZ6" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
         
       
          </div>
        
        </div>
      </div>
</div>

{% endblock body %}