{% extends 'cecday/basic.html' %}
{% block body %}

<div class="container-fluid" >
    <div class="album py-5 ">
        <div class="container">
   
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
           
            <div class="col col-md-4 col-12 my-2">
              <div class="card shadow-sm">
                <img src="https://images.unsplash.com/photo-1580894894513-541e068a3e2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
    
                <div class="card-body box">
                   <h3>CECJ-CODATHON </h3>
                  <p class="card-text">A coding contest where you can test your problem solving skills and have fun. Let’s venture together and have...</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'break_strategy' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                      <a href="{% url 'break_strategy_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12 col my-2 ">
              <div class="card shadow-sm">
               <img src="https://images.unsplash.com/photo-1590402494682-cd3fb53b1f70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
    
                <div class="card-body box">
                  <h3>Technical Presentation </h3>
                  <p class="card-text">Technical presentation is an individual competition where each participant is required....</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'technical_presentation' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                      <a  href="{% url 'technical_presentation_register' %}"  type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                    </div>
                
                  </div>
                </div>
              </div>
            </div>


              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1551836022-8b2858c9c69b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Project Display</h3>
                    <p class="card-text">Dislay your Working/non-working technical and innovative projects and show your creative ideas.... </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'project_display' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'project_display_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

            
              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1606326608690-4e0281b1e588?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Technical Quiz CSE </h3>
                    <p class="card-text"> Test your Basic Knowledge of ,C, C++, Html, Php by participating in Technical quiz which consist... </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'tech_quiz' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'tech_quiz_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1629118938047-0f28bbe5af7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1933&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Auto Cad Competition</h3>
                    <p class="card-text">  A 3D designing competition where you have to create a given design in given fixed amount of time. ... </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'autocad' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'autocad_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1563207153-f403bf289096?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Robolympics</h3>
                    <p class="card-text"> Show the ability of your robots and what they can do, how much smart they are ? participate and.... </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'robolympics' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'robolympics_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
          

              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Tech Charades</h3>
                    <p class="card-text"> A competition where each team would be given a technical term with one person acting and the.... </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'techcharades' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'techcharades_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
         
              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Technical Collage</h3>
                    <p class="card-text"> Show your creativity and create a amazing collage on a give topic. Let's have fun with crafts. </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'techcollage' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'techcollage_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
       
              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1558442309-3d19123b933e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>Boat On</h3>
                    <p class="card-text"> A boat is to prepare with concrete and admixture and the analysis will be done by putting weight in boat and it should not sink </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'floatingboat' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'floatingboat_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Z3JvdXAlMjBkaXNjdXNzaW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60 " alt="">
      
                  <div class="card-body box">
                    <h3>Group Discussion</h3>
                    <p class="card-text"> Let's start a discussion with respect and have lot of talks upon amazing topics...</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'gd' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'gd_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://media.istockphoto.com/photos/concept-deep-learning-mindfulness-psychology-picture-id1256602985?b=1&k=20&m=1256602985&s=170667a&w=0&h=m5dLoiSafv4H1i8WPGx47PGgv6lR9CTQgvmJ-4rOcOk=" alt="">
      
                  <div class="card-body box">
                    <h3>Master Minds</h3>
                    <p class="card-text"> In this Event we will conduct a Quiz of “Current Affair” over the past three years. Let's test some Knowledge here.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'masterminds' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'masterminds_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://media.istockphoto.com/photos/running-pass-on-stadium-picture-id509238458?b=1&k=20&m=509238458&s=170667a&w=0&h=hkS-1v1qNlO44fHPHEVHyrgHmGvnIY-rFNGy3Gpq2YM=" alt="">
      
                  <div class="card-body box">
                    <h3>Mech Relay</h3>
                    <p class="card-text">This event is like a relay game but it consist of some questions which has to be answered while playing and it makes this more intersting. </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'mechrelays' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'mechrelay_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VydmV5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
      
                  <div class="card-body box">
                    <h3>Survey Scout</h3>
                    <p class="card-text">Use the equipment under specifications provided. Turning point should be set in stable and protected locations.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'survey' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'surveyscout_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://media.istockphoto.com/photos/questionnaire-with-checkboxes-filling-survey-form-online-answer-picture-id1398473177?b=1&k=20&m=1398473177&s=170667a&w=0&h=tA1KW9n6V4JiTfTWJ7l3viB7eqeY08HvfOzjJdu2bn4=" alt="">
      
                  <div class="card-body box">
                    <h3>Technical Quiz Civil</h3>
                    <p class="card-text">Test your basic knowledge of Civil Engineering by participating in this quiz.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'techquizce' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'techquizce_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-12 col my-2">
                <div class="card shadow-sm">
                  <img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
      
                  <div class="card-body box">
                    <h3>B Plan</h3>
                    <p class="card-text">Let's discuss startup ideas.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'bplan' %}" type="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                        <a href="{% url 'bplan_register' %}" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
          </div>


        
        </div>
      </div>
</div>

{% endblock body %}