{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">


<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1629118938047-0f28bbe5af7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1933&q=80" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Auto Cad Competition</h2>
            <p class="para-font px-3">Let's have fun with colors and make beautiful rangoli. Play with colors and create some amazing designs. </p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>Computer Lab Room no. 220 Second floor Block 1
             
        </p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Time: </strong>2:00 pm - 3:00 pm</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any Students having valid id is eligible to participate in the event.
</p>
           
        </div>
        <a href="{% url 'autocad_register' %}"  class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">The Event will have a skill test 
            In the “Skill Test”  a 3D drawing will be given to the students.

</li>
        <li class="list-group-item">Topic of event will be given during the time of competition</li>
        <li class="list-group-item">The drawing should be unique and should not be pre-designed.</li>
        <li class="list-group-item">The “Skill Test” round will have a time limit of 90 minutes..</li>
        <li class="list-group-item">No Unfair means or Copying will not be allowed in the activity.</li>
        <li class="list-group-item">All participants to report on time for the activity.</li>
        <li class="list-group-item">The time will be strictly monitored, and Extra-time will not be given</li>
        <li class="list-group-item">Final result will be declared by Judges and no challenge will be accepted..</li>
        <li class="list-group-item">Certificates will be given as per performance</li>

      </ul>

</div>


<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
            
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Divyansh Tripathi</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 8795566876</p>
                <p class="co"><i class="fa fa-envelope"></i>  divyanshtripathi00007@gmail.com</p>
                <a href="https://wa.me/8795566876" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
 
             
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Saurabh patel

                </h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9792488600
                </p>
                sp812758@gmail.com
</p>
                <a href="https://wa.me/9792488600" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        </div>
    </div>

         {% endblock body %}