{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">



<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1580894894513-541e068a3e2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 >CECJ-CODATHON</h2>
            <p class="para-font px-3">MCQ, Coding Competition based on different programming languages  consist of 2 Rounds. Let’s venture together and have fun while coding.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>Online</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any student with valid Id Card.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Time: </strong>11:00 AM (15.09.2021)</p>
        </div>
        <a href="{% url 'break_strategy_register' %}" class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Contest is open to anyone (School/College Student) with a knack for programming/coding and having a stable internet connection.</li>
        <li class="list-group-item">You'll be able to take part in single language only.</li>
        <li class="list-group-item">Candidates must be carrying their valid Phone Number and email-address and also their Identity Cards.</li>
        <li class="list-group-item">There will be single round at 11:30 AM where candidates will be assigned 2.5 hours to solve 5 Questions.</li>
        <li class="list-group-item">The questions will be from following topics: Backtracking, Stack, Arrays, Binary Search Trees, Graph, String.</li>
        <li class="list-group-item">Judgement will be based on the correct answers and time taken (no negative marking).</li>
        
      </ul>
   

</div>

<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
            
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 style="font-weight: 700; ">Vrnika Jain </h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9416013002 </p>
                <p class="co"><i class="fa fa-envelope"></i> vrnikajain@gmail.com </p>
                <a href="https://wa.me/9416013002" class="btn-sm btn-success" ><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
                
             </div>
       
            
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4  style="font-weight: 700; ">Kumbhaj Shukla</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9450443984</p>
                <p class="co"><i class="fa fa-envelope"></i>shuklakumbhaj@gmail.com </p>
                <a href="https://wa.me/9450443984" class="btn-sm btn-success" ><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        
     </div>
</div>
{% endblock body %}