{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">


<div class="text-center mt-4">
    
    <h1 class="headings" style="display: inline; color: #a73638;">CECJ- HACKATHON</h1>
  </div>
<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1583508915901-b5f84c1dcde1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Details</h2>
        
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Date of Commencement: </strong>13.09.2021 (Wednesday)
</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>CEC JHANJERI</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Time of Commencement: </strong>12:00 PM</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Date of Presentation: </strong>15th September 2021</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Time of Presentation: </strong>12:00 or 1:00 PM
</p>
<p class="para-font px-3 " style="font-size: 20px;"><strong>Duration: </strong>48 Hours</p>
<p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Open to all</p>
<p class="para-font px-3 " style="font-size: 20px;"><strong>Team Size: </strong>2</p>

        </div>
        <a href="{% url 'designathon_register' %}" class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Themes will be provided to all Teams. The Team needs to pick up one Theme and build upon it.</li>
        <li class="list-group-item">The solution can be related to any domain shared.</li>
        <li class="list-group-item">Team leaders must create a common Git-Hub repository and all other Team-Members will push their code on that only.</li>
        <li class="list-group-item">All members of the Team must share their Git-Hub profile link with us as well as Team leaders must share their project repository.</li>
        <li class="list-group-item">Teams can take help from the internet if they are stuck at some point but they must use their own creativity and skills to develop a unique solution.</li>
        <li class="list-group-item">Teams can use any framework or library at their convenience.</li>
        <li class="list-group-item">Plagiarism is strictly prohibited; the solution of all Teams will be strictly monitored and if found to be copied from other teams or a complete solution from the internet, then they’ll be immediately Disqualified.</li>
        <li class="list-group-item">After completion of the project, it must be live (Must be hosted on the internet, can use GitHub Pages or Heroku or any free platform).</li>
        <li class="list-group-item">Teams must also create a PPT and Report of their projects & will need to present their project along with the PPT on the day of final judgement.</li>
        <li class="list-group-item">Teams must update their status of projects every 3 hrs in a common WhatsApp group, If they fail to do so they will be contacted by Event Coordinators, If any Team remains inactive for more than 6 hrs, then the team will be disqualified.</li>
      </ul>
    <h2 class="subheadings my-2">Minute to Minute for Event:</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">All Teams must share a Description of their Project Idea in a Form shared with them by 03:00 PM, 10th September 2021.</li>
        <li class="list-group-item">After the Welcome Meet of the event, Teams will start working on their project idea by 12:00 PM 13th September 2021 and All                                                                                                            members of Teams must share their GitHub Profiles. Also, Team Leader must share the link to the repository of their project by 12:00 PM.</li>
        <li class="list-group-item">All Teams must share their project status every 3 Hours from 10:00 AM to 8:00 PM on 13 and 14 September 2021.</li>
        <li class="list-group-item">The first judging round of projects will be held on 14 September 2021 (Morning), and updates or improvements will be notified on the same day (afternoon).</li>
        <li class="list-group-item">The final Judgement round will be held on 15th September 2021 (Noon).</li>
        <li class="list-group-item">Teams will present their projects with live demonstrations during the Final Judgement Round on 15 September 2021.</li>
        <li class="list-group-item">Results will be declared in a meeting by 4:00 PM on 15 September 2021.</li>
    </ul>
    <h2 class="subheadings my-2">THEME:</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Water Quality.</li>
        
        <li class="list-group-item">Bio-Waste: Key to Wellness</li>
        <li class="list-group-item">Traditional Cooking Practices: Our Wellness Gateway</li>
        <li class="list-group-item">Health Technology Assessment Validating Indigenous Technologies</li>
        <li class="list-group-item">Divyangjan: Deployment of Technology for them</li>
        <li class="list-group-item">Farmer Support and Good Agricultural Technologies.</li>
        <li class="list-group-item">Innovation in Health Care Accessibility.</li>
    </ul>
     
    <h2 class="subheadings my-2">JUDGEMENT</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Social Impact</li>
        <li class="list-group-item">Scope</li>
        <li class="list-group-item">Responsiveness
</li>
        <li class="list-group-item">Features
</li>
        <li class="list-group-item">Easy to use
</li>
        <li class="list-group-item">Presentation
</li>
        <li class="list-group-item">Personal experience of the Judging panel
</li>
        <li class="list-group-item">UI & UX
</li>
        <li class="list-group-item">Innovation and Creativity
</li>

      
        
     
      </ul>

</div>

<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
             <div class="col-md-3 col">
             {% load static %}
                <img class="faces" src="{% static 'photo/Abhishek_Kumar.jpeg' %}" alt="" height="100%" width="100%" style="border-radius: 50%;">
             </div>
             <div class="col-md-9 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Abhishek Kumar Gupta </h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 8566077814</p>
    
                <a href="https://wa.me/8566077814" class="btn btn-success" style="font-size: 20px;"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
         <div class="row mt-3">
             <div class="col-md-3 col">
             {% load static %}
                <img class="faces" src="{% static 'photo/Avinash.jpeg' %}" alt="" height="100%" width="100%" style="border-radius: 50%;">
             </div>
             <div class="col-md-9 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Avinash Kumar</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 956362302</p>
            
                <a href="https://wa.me/956362302" class="btn btn-success" style="font-size: 20px;"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        
     </div>
</div>
{% endblock body %}