{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">


<div class="text-center mt-4">
    
    <h1 class="headings" style="display: inline; color: #a73638;">Arduino and Raspberry Pi Challenge</h1>
  </div>
<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1555664424-778a1e5e1b48?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Description</h2>
            <p class="para-font px-3">An Arduino coding and circuit designing Challenge. Design of sensory systems using the platform Arduino by undergraduate coding and basic knowledge of electric circuits and show your skills.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Mode: </strong> online </p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Participation: </strong>Maximum 2 members</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>  Students  pursuing B.Tech in Electronics and Communication/Electrical or any allied branch are eligible to participate in this event.</p>
          
        </div>
        <a href="{% url 'electroinsight_register' %}" class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container my-2">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">The students have to participate in teams. There should NOT be more than 2 members per team.</li>
        <li class="list-group-item">The teams have to build such a project that includes : Arduino board or Raspberry Pi board</li>
        <li class="list-group-item">Students will have to assemble and code their project within  3 hrs of the given time. Already built projects will NOT be accepted.</li>
        <li class="list-group-item">Students should have documents that contain all the details about their project. </li>
        <li class="list-group-item">The criteria of the evaluation will be: Documnetation and Explanation, Complete and Functional, Creativity, Understanding, Applications. </li>
        <li class="list-group-item">The certificate of participation will be provided to all the participants</li>
      </ul>
    <h2 class="subheadings">Preferred Themes.</h2>
    <p> <strong>NOTE:</strong>  These are only preferable topics, participating students are however free to choose any technology/theme of their choice.</p>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">HealthCare Sector and its applications</li>
        <li class="list-group-item">Agriculture Sector and its applications</li>
        <li class="list-group-item">Community Service related applications</li>
      </ul>

</div>
<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
             <div class="col-md-3 col">
             {% load static %}
                <img class="faces" src="{% static 'photo/yashika.jpeg' %}" alt="" height="100%" width="100%" style="border-radius: 50%;">
             </div>
             <div class="col-md-9 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Yashika</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 7988022792</p>
                <p class="co"><i class="fa fa-envelope"></i>  tishasharmays27@gmail.com </p>
                <a href="https://wa.me/7988022792" class="btn btn-success" style="font-size: 20px;"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
         <div class="row mt-3">
             <div class="col-md-3 col">
             {% load static %}
                <img class="faces" src="{% static 'photo/Vidyesha.jpeg' %}" alt="" height="100%" width="100%" style="border-radius: 50%;">
             </div>
             <div class="col-md-9 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Vidyesha</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 7006209906</p>
                <p class="co"><i class="fa fa-envelope"></i> balividyesha@gmail.com </p>
                <a href="https://wa.me/7889626149" class="btn btn-success" style="font-size: 20px;"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        
     </div>
</div>
{% endblock body %}