{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">


<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Z3JvdXAlMjBkaXNjdXNzaW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60 " alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Group Discussion</h2>
            <p class="para-font px-3">Let's start a discussion with respect and have lot of talks upon amazing topics.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>Romm no. 211, Block -1 drawing hall</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Timings: </strong>11 am onwards</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any Students from Mechanical Engineering Department having valid Id card can participate.</p>
           
        </div>
        <a href="{% url 'gd_register' %}"  class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Timing for one group is 15 minutes.
        </li>
        <li class="list-group-item">Total Six members in one group.</li>
        <li class="list-group-item"> Listen respectfully, without interrupting.</li>
        <li class="list-group-item">Listen actively and with an ear to understanding others’ views. (Don’t just think about what you are going to say while someone else is talking.)</li>
        <li class="list-group-item">Criticize ideas, not individuals. We all can learn something from each other, even if your views don’t necessarily align.</li>
        <li class="list-group-item">Avoid blame, speculation, and inflammatory language.</li>
        <li class="list-group-item">Allow everyone the chance to speak.</li>
        <li class="list-group-item">Avoid assumptions about any member of the class or generalizations about social groups. Do not ask individuals to speak for their (perceived) social group.</li>
        <li class="list-group-item">Mode of communication should be in English only</li>
      </ul>

</div>


<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
            
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Aditya Kumar</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9501742774</p>
                <p class="co"><i class="fa fa-envelope"></i>  aknigam9501@gmail.com</p>
                <a href="https://wa.me/9501742774" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
 
             
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Saksham</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 7056925360</p>
                <p class="co"><i class="fa fa-envelope"></i> sakshamvaish560@gmail.com</p>
                <a href="https://wa.me/7056925360" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
         </div>
         </div>

         {% endblock body %}