{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">


<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://media.istockphoto.com/photos/running-pass-on-stadium-picture-id509238458?b=1&k=20&m=509238458&s=170667a&w=0&h=hkS-1v1qNlO44fHPHEVHyrgHmGvnIY-rFNGy3Gpq2YM=" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Mech Relay</h2>
            <p class="para-font px-3">This event is like a relay game but it consist of some questions which has to be answered while playing and it makes this more intersting.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue:  </strong>Ground(Front of Block I)</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Timings: </strong>11:30 am onwards</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any Students from Mechanical Engineering Department having valid Id card can participate.</p>
           
        </div>
        <a href="{% url 'mechrelay_register' %}"  class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Each Team must contain four members.  </li>
        <li class="list-group-item">Runner has to give chance to another participant after completing his/her questions. </li>
        <li class="list-group-item"> Participants must wear black trouser and white t-shirts.</li>
        <li class="list-group-item">Runner must remain in their lane throughout the race.</li>
        <li class="list-group-item">Runner must not obstruct or block another runner. If they do so they will be disqualified. </li>
        <li class="list-group-item">Runner must not contain any type of sheet or paper in his/her pockets. </li>
        <li class="list-group-item">Distance between two desks is 20m. </li>
      </ul>


</div>


<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
            
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Vivek</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9992327336</p>
                <p class="co"><i class="fa fa-envelope"></i>  vy241495@gmail.com</p>
                <a href="https://wa.me/9992327336" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
 
             
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Yash Maan</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 7011301297</p>
                <p class="co"><i class="fa fa-envelope"></i> maanyash077@gmail.com</p>
                <a href="https://wa.me/7011301297" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        </div>
    </div>
         {% endblock body %}