{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">



 
<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1551836022-8b2858c9c69b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"  alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Project Display</h2>
            <p class="para-font px-3">Display your Working/Non-working technical and innovative projects and show your creative ideas. Impliment your creative minds and create something new and Showcase your skills.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>Ground Area</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Timings: </strong>10 am onwards</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any Students having valid id card is eligible to participate in this event.</p>
           
        </div>
        <a href="{% url 'project_display_register' %}" class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">The project must be in presentable form .</li>
        <li class="list-group-item">Team size : Minimum – 2 and Maximum – 5.</li>
        <li class="list-group-item">Members should present their project details and innovative ideas
            through PPT and demonstration will also be needed .</li>
        <li class="list-group-item">Inflammable chemical, hazardous substance or equipment is not allowed at the event site and inside the campus if event is held offline.</li>
        <li class="list-group-item">Time limit : 10 minutes per team.</li>
      </ul>

</div>


<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
            
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Nishtha jain</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 6283272343</p>
                <p class="co"><i class="fa fa-envelope"></i>  bloomingflowers737@gmail.com</p>
                <a href="https://wa.me/6283272343" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
 
             
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Vishu Pal</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9084742834</p>
                <p class="co"><i class="fa fa-envelope"></i> pal.vishu2003@gmail.com</p>
                <a href="https://wa.me/9084742834" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        
     </div>
</div>
{% endblock body %}