{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">


<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1563207153-f403bf289096?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Robolympics</h2>
            <p class="para-font px-3">Show the ability of your robots and what they can do, how much smart they are ? participate and give a chance to your robot.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>Parking Area in front of Mechanical workshop.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Timings: </strong>11 am - 4 pm </p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any Students from ECE department having valid id card is eligible to participate in this event.</p>
           
        </div>
        <a href="{% url 'robolympics_register' %}"  class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Maximum of 4 members in a team 
        </li>
        <li class="list-group-item">The Robot should fit in a box of dimension 600mm x 600mm x 800mm (l*b*h) at any given point during the match.
        </li>
        <li class="list-group-item">The machine should not exceed 50 kg of weight including the weight of onboard pneumatic source/tank in case an external pneumatic tanks/source1.5 times the weight of the tank will be added to the weight of the Robot.</li>
        <li class="list-group-item">The Robot could be controlled with wired or wireless remote. </li>
        <li class="list-group-item">Teams with wired control are completely responsible for the tangling problem with their own Robots. In such as a case, match will not be halted. </li>
        <li class="list-group-item">The Robot should be powered electrically and 12 V power Supply has to be carried by the participants. It can be either on-board or via wire. Batteries must be sealed, immobilized-electrolyte type.</li>
        <li class="list-group-item">All efforts must be made to avoid short circuits which may cause battery fire, failure to do so will cause direct disqualification immediately.</li>
        <li class="list-group-item"> Proper activation and deactivation of Robot is critical. Robot must only be activated/ deactivated in the arena or testing area with proper consent of the event organizers. </li>
        <li class="list-group-item">In case of any inconvenience, participants are required to seek one of volunteers present.</li>
        <li class="list-group-item">Any misbehavior of participant during event/rounds may lead to disqualification. </li>
        <li class="list-group-item">Participants must be present during the event at the specified time. Absent participants will be automatically disqualified.</li>
        <li class="list-group-item"> Robot can have any kind of magnetic weapon, cutters, flippers, saws, lifting devices weapons. (Robo War)</li>
        <li class="list-group-item"> Use of any kind of nets, tapes, glue-based, radio-jamming, tasers, tesla coils explosives or flame-based weaponry systems are not allowed. </li>
        <li class="list-group-item"> Spraying of any kind of liquid or gaseous substance on the opponent is strictly prohibited. </li>
        <li class="list-group-item"> You are allowed to repair the Robot only when the Robot is not in the ring/ track. </li>
        <li class="list-group-item"> At max, only 10 minutes would be given in between consecutive match during the final stages of the tournament.  </li>
        <li class="list-group-item"> All Participants are required to report 30 min before the event starts, to the reporting desk.  </li>
        <li class="list-group-item"> Every participant should have his college Id card or at least one proof of identity.  </li>
      </ul>

</div>


<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
            
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Vivek Singh</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 8707078959</p>
                <p class="co"><i class="fa fa-envelope"></i> chauhanvivek1818@gmail.com</p>
                <a href="https://wa.me/8707078959" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
 
             
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Anurag Singh</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 8235899790</p>
                <p class="co"><i class="fa fa-envelope"></i> anuragutkarsh8681@gmail.com</p>
                <a href="https://wa.me/8235899790" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        
     </div>
</div>
{% endblock body %}