

{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">


<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1606326608690-4e0281b1e588?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Technical Quiz ( CSE )</h2>
            <p class="para-font px-3">Test your Basic Knowledge of ,C, C++, Html, Php by participating in Technical quiz which consist of 3 rounds. </p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>Lab 221, Block 1</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Timings: </strong>11:00 am Onwards</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any Students from CSE department having valid id card is eligible to participate in this event.</p>
           
        </div>
        <a href="{% url 'tech_quiz_register' %}"  class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Basic  Knowledge (Engineering  Field) ,C, C++, Html, Php</li>
        <li class="list-group-item">It will have three rounds </li>
        <li class="list-group-item">Round 1:   BLACK AND WHITE ( consist of 25 questions and you will get 3 marks for each correct answer and -2 marks for each wrong answer and time limit will be 20 minutes)</li>
        <li class="list-group-item">Round 2:   HOW WELL YOU KNOW ( Pictorial round, -1marks for wrong answer)</li>
        <li class="list-group-item">Round 3: 
            BUZZER ROUND 
            </li>
      </ul>

</div>


<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
            
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Taniya</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 7015890077</p>
                <p class="co"><i class="fa fa-envelope"></i> taniyatuteja7@gmail.com</p>
                <a href="https://wa.me/7015890077" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
 
             
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Sanyam</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 6239425554</p>
                <p class="co"><i class="fa fa-envelope"></i> sanyambansal123456@gmail.com</p>
                <a href="https://wa.me/6239425554" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        </div>
    </div>

         {% endblock body %}