{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">


<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Tech Charades</h2>
            <p class="para-font px-3"> A competition where each team would be given a technical term with one person acting and the other person have to guess the right term.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>LAB NO . 330</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Timings: </strong>11:00 am - 01:00 pm</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any Students from ECE department having valid id card is eligible to participate in this event.</p>
           
        </div>
        <a href="{% url 'techcharades_register' %}"  class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Teams of two participants only can contest for this event. </li>
        <li class="list-group-item">There will be total 2 rounds (Time Bounded).</li>
        <li class="list-group-item">Lip movement is not allowed - only hand movements should be there.</li>
        <li class="list-group-item"> No alphabets are to be indicated.</li>
      </ul>

</div>
<div class="container">
    <h2 class="subheadings">Rounds</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">First round will be Elimination round in which each team would be given a technical term with one person acting and the other person will guess the right term. </li>
        <li class="list-group-item">In the second round teams have to enact either the inventor’s name or the invention but have to guess both.</li>
    
      </ul>

</div>

<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
            
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Avinash</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 6203649060</p>
                <p class="co"><i class="fa fa-envelope"></i> avinash10082000@gmail.com</p>
                <a href="https://wa.me/6203649060" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
 
             
             <div class="col-md-6 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; "> Nandini</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9140376150</p>
                <p class="co"><i class="fa fa-envelope"></i> nandinika1203@gmail.com</p>
                <a href="https://wa.me/9140376150" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        </div>
    </div>

         {% endblock body %}