{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">



<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1590402494682-cd3fb53b1f70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Technical Presentation</h2>
            <p class="para-font px-3">Technical presentation is an individual competition where each participant is required to make a Power point presentation about a given topic or area, and then present it in front of jury member by following all the rules and regulations.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>Seminar Hall ( Block 1 )</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Timings: </strong>10:30 am onwards</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any student with valid Id Card.</p>
            
        </div>
        <a href="{% url 'technical_presentation_register' %}"  class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">The participant  will get 07 minutes for presentation followed by question and answer session.</li>
        <li class="list-group-item"> It is advisable that the presentation focuses on one particular topic. It should be start up idea, Innovation or upcoming technology topics.
            </li>
        <li class="list-group-item">The participants who are desirous of choosing a different theme than those mentioned are welcome, provided, it falls under the domain Kindly contact the coordinator for clarifications.</li>
        <li class="list-group-item">Bring your college I-Card & receipt on event day.
            </li>
        <li class="list-group-item">Please bring your Interactive Power Point presentation on a CD and on a pen-drive.</li>
        <li class="list-group-item">The registration with submissions should contain:
           <ul>
            <li>Title- Theme of the Presentation.</li>
            <li>Name of the author</li>
            <li>Phone no of  author</li>
            <li>E- mail ID.</li></ul>
            .</li>
        <li class="list-group-item"> Presentation must contain index, introduction, point wise description of subject and conclusion and references.
        </li>
        <li class="list-group-item"> Last day to submit your presentation (via e-mail to faculty coordinator) will be two days prior to the day of presentation.
        </li>
        <li class="list-group-item">The decision of judges will be final and no arguments or appeal will be entertained.
        </li>
      </ul>

</div>

<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row" >
            
             <div class="col-md-6 col " style="text-align: left">
            
                <h4 style="font-weight: 700; ">SAKSHI KUMARI</h4>
                <p ><i class="fa fa-phone fa-rotate-90"></i> +91 6207231359</p>
                <p ><i class="fa fa-envelope"></i> sakshichoudhary08@gmail.com </p>
                <a href="https://wa.me/6207231359" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
    

             <div class="col-md-6 col "  style="text-align: left">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Kaushal Kunal Singh </h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9430954722</p>
                <p class="co"><i class="fa fa-envelope"></i> kaushalsingh2250@gmail.com </p>
                <a href="https://wa.me/9430954722" class="btn-sm btn-success" ><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        
     </div>
</div>
{% endblock body %}