{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">



<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1590402494682-cd3fb53b1f70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Technical Presentation</h2>
            <p class="para-font px-3">Technical presentation is an individual competition where each participant is required to make a Power point presentation about a given topic or area, and then present it in front of jury member by following all the rules and regulations.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Venue: </strong>Seminar Hall ( Block 1 )</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Timings: </strong>11 am</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Any student with valid Id Card.</p>
            
        </div>
        <a href="{% url 'technical_presentation_register' %}"  class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Anyone with valid Id Card can participate individually.</li>
        <li class="list-group-item">Each participant will get 5 min to give their presentation..</li>
        <li class="list-group-item">Maximum number of slides allowed is 15 including introduction and ending.</li>
        <li class="list-group-item">Everyone should be in proper attire for the presentation.</li>
        <li class="list-group-item">Topic for presentation "Contribution of Indian Scientists and Engineer’s to the world".</li>
        <li class="list-group-item">Participants will be judged on the basis of Attire, Timely Completion of presentation, Presentation skills, Quality of the content delivered.</li>
        <li class="list-group-item">Prizes will be given to winners and the certificate of participation will be provided to all the participants.</li>
      </ul>

</div>

<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row" >
            
             <div class="col-md-6 col " style="text-align: left">
            
                <h4 style="font-weight: 700; ">Aman Yadav</h4>
                <p ><i class="fa fa-phone fa-rotate-90"></i> +91 7986515945</p>
                <p ><i class="fa fa-envelope"></i> cools7860@gmail.com </p>
                <a href="https://wa.me/7986515945" class="btn-sm btn-success"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
    

             <div class="col-md-6 col "  style="text-align: left">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Kaushal Kunal Singh </h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9430954722</p>
                <p class="co"><i class="fa fa-envelope"></i> kaushalsingh2250@gmail.com </p>
                <a href="https://wa.me/9430954722" class="btn-sm btn-success" ><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        
     </div>
</div>
{% endblock body %}