{% extends 'cecday/basic.html' %}
{% block body %}
<div class="container">


<div class="text-center mt-4">
    <h1 class="headings" style="display: inline; color: #a73638;">Technical Presentation</h1>
</div>
<div class="row my-3">
    <div class="col-md-6 col-xl-6 col-sm-12 col-12 p-4 ">
        <img src="https://images.unsplash.com/photo-1590402494682-cd3fb53b1f70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="" height="100%" width="100%">
     
    </div>
    <div class="col-md-6 col-xl-6 col-sm-12 my-2 col-12  ">
        <div class="p-2">
            <h2 class="subheadings">Description</h2>
            <p class="para-font px-3">Technical presentation is an individual competition where each participant is required to make a Power point presentation about a given topic or area, and then present it in front of jury members. The Topic of the presentation will be related to Technical aspects.</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Mode: </strong>Online</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Participation: </strong>Individual</p>
            <p class="para-font px-3 " style="font-size: 20px;"><strong>Eligibility: </strong>Students having a valid id card of any branch are eligible to participate in this event.</p>
            
        </div>
        <a href="{% url 'technical_presentation_register' %}"  class="btn btn-primary mx-3">Register Now</a>
    </div>
</div>

</div>
<div class="container">
    <h2 class="subheadings">Rules and Regulations</h2>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item">Anyone can participate individually.</li>
        <li class="list-group-item">Duration of 6 min will be given for the presentation.</li>
        <li class="list-group-item">Topics for presentation are AI, Data Science,  ML,  IOT ,Mechatronics, Cyber security,  Block chain , 5G technology, Robotic process automation (RPA), Hybrid Cloud, Internet of Behaviours(IOB) and any other latest advancement in technology. </li>
        <li class="list-group-item">Presentation should be neat and clear to all the audience.</li>
        <li class="list-group-item">Winners from each stream may be announced</li>
        <li class="list-group-item">The certificate of participation will be provided to all the participants.</li>
      </ul>

</div>

<div class="container my-2">
    <h2 class="subheadings">Coordinator Details</h2>
    <p class="para-font">For any query regarding this event please contact the following Coordinators.</p>
     <div class="text-center p-3">
         <div class="row">
             <div class="col-md-3 col">
             {% load static %}
                <img class="faces" src="{% static 'photo/shambhvi.jpeg' %}" alt="" height="100%" width="100%" style="border-radius: 50%;">
             </div>
             <div class="col-md-9 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Shambhavi Singh</h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 9308017681</p>
                <p class="co"><i class="fa fa-envelope"></i>  shambhavidhananjaysingh@gmail.com </p>
                <a href="https://wa.me/9308017681" class="btn btn-success" style="font-size: 20px;"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
         <div class="row mt-3">
             <div class="col-md-3 col">
             {% load static %}
                <img class="faces" src="{% static 'photo/rahul-kumar.jpeg' %}" alt="" height="100%" width="100%" style="border-radius: 50%;">
             </div>
             <div class="col-md-9 col " style=" text-align: left;">
            
                <h4 class="mt-2 " style="font-weight: 700; ">Rahul Kumar Sharma </h4>
                <p class="co"><i class="fa fa-phone fa-rotate-90"></i> +91 7002631595</p>
                <p class="co"><i class="fa fa-envelope"></i> Rahulkumar02102000@gmail.com </p>
                <a href="https://wa.me/7002631595" class="btn btn-success" style="font-size: 20px;"><i class="fa fa-whatsapp  "></i> Message on Whatsapp</a>
             </div>
         </div>
        
     </div>
</div>
{% endblock body %}